@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.cnlabel {
  width: 140px;
  text-align: right;
  margin-right: 12px
}

.chaser {
  margin-left: 5px
}

.cnvalue {
  width: 100px;
}
